.resetbuttonfortextfield-textfield {
    padding-right: 16pt !important;
}

.resetbuttonfortextfield-resetbutton {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    right: 15pt;
    top: -3pt;
    padding: 0;
    border-radius: 15pt;
    background-color: #c3c3c3;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 13pt;
    width: 13pt;
    height: 12pt;
    line-height: 1;
}

.resetbuttonfortextfield-resetbutton:hover {
    background-color: #575757;
    cursor: pointer;
}

.v-ios .resetbuttonfortextfield-resetbutton, .v-ff .resetbuttonfortextfield-resetbutton {
	line-height: 0.9;
}

.android {
	line-height: 0.8;
	font-size: 15pt;
}