.v-textfield-withresetbutton {
	padding-right: 20px !important;
}

.v-textfield-resetbutton {
	position: relative;
	display: inline-block;
	right: 19px;
	width: 16px;
	height: 24px;
	background-image: url(resetbutton-default.png);
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: bottom;
}

.v-textfield-resetbutton:hover {
	background-image: url(resetbutton-hover.png);
    cursor: pointer;
}
